{% capture code %}{{page.path | split:"/" | last | split:"." | first) }}{% endcapture %}

<div class="row text-white">
  <div class="col-md-6 col-sm-12">
    <dl class="row">
      <dt class="col-6">Tracking code</dt>
      <dd class="col-6">{{code}}</dd>
      <dt class="col-6">Product name</dt>
      <dd class="col-6">
        Baby 1
        <small>(temporary)</small>
      </dd>

      <dt class="col-6">Maternal Manager</dt>
      <dd class="col-6">Gabriela Velicu</dd>
      <dt class="col-6">Paternal Manager</dt>
      <dd class="col-6">Bert Goethals</dd>

    </dl>
  </div>

  <div class="col-md-6 col-sm-12">
    <dl class="row">
      <dt class="col-6">Gender</dt>
      <dd class="col-6">Known</dd>
      <dt class="col-6">Current Size</dt>
      <dd class="col-6" id="babySize"></dd>
    </dl>
  </div>
</div>

<div class="card" >
  <div class="card-block">

    <div class="progress" style="margin-bottom: 1em;">
      <div
        id="progress"
        class="progress-bar"
        role="progressbar"
        style="height: 2em; line-height: 2em;"
        aria-valuenow=""
        aria-valuemin="0"
        aria-valuemax=""
      ><div id="week"> </div></div>
    </div>

    <div class="d-flex justify-content-end">
      <div class="mr-auto p-2">
        <span class="btn btn-sm">
          <strong>ETA</strong>  Jan 12th 2018.
        </span>
      </div>
      <div class="p-2">
        {% if page.notify_on %}
          <span class="badge badge-success" style="padding: 0.25rem 0.5rem; font-size: 0.875rem;">
            You will be notified when the product is ready for testing.
          </span>
        {% else %}
          <a
            href="#"
            class="btn btn-outline-primary btn-sm"
            data-toggle="modal"
            data-target="#notification-form"
          >
            Get Notified when Product is ready
          </a>
        {% endif %}
      </div>
    </div>



    {% if code && !page.notify_on %}
      <div id="notification-form" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!-- <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> -->
            <div class="modal-body">
              <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSfftlOWzaNTT5pCPd2xPBYgtxSfv2ID4J-h1DF2XP_AQmAKlA/viewform?embedded=true&entry.179101210={{ code }}"

                frameborder="0"
                marginheight="0"
                marginwidth="0"
                style="margin: 0 auto; width: 100%; height: 840px;"
              >
                Loading...
              </iframe>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  var dayInMilis = 1000 * 60 * 60 * 24,
    initDate = (new Date(2017, 3, 11)) / dayInMilis, // Dates are month 0-based
    deliveryDate = (new Date(2018, 0, 12)) / dayInMilis, // Dates are month 0-based
    today = Date.now() / dayInMilis;

  var totalDays = Math.round(deliveryDate - initDate),
    currentDays = Math.round(today - initDate),
    currentWeeks = Math.round(currentDays / 7);

  var progressBar = document.getElementById('progress');

  progressBar.setAttribute("aria-valuemax", totalDays);
  progressBar.setAttribute("aria-valuenow", currentDays);
  progressBar.style.width = "" + ((currentDays / totalDays) * 100) + "%";

  document.getElementById('week').textContent = "Week " + currentWeeks + "-ish";

  var babySizes = [
    'Poppy seed',
    'Sesame seed',
    'Lentil',
    'Blueberry',
    'Kidney bean',
    'Grape',
    'Prune',
    'Fig',
    'Lime',
    'Peach',
    'Lemon',
    'Apple',
    'Avocado',
    'Turnip',
    'Bell pepper',
    'Heirloom tomato',
    'Banana',
    'Carrot',
    'Spaghetti squash',
    'Large mango',
    'Ear of corn',
    'Rutabaga',
    'Scallion',
    'Head of cauliflower',
    'Large eggplant',
    'Butternut squash',
    'Large cabbage',
    'Coconut',
    'Squash',
    'Pineapple',
    'Cantaloupe',
    'Honeydew melon',
    'Romaine lettuce',
    'Swiss chard',
    'Leek',
    'Mini-watermelon',
    'Small pumpkin',
  ]
  document.getElementById('babySize').textContent = babySizes[currentWeeks - 4];


</script>
