---
---

$green:  #74AF10 !default;
$state-success-text:            darken(#74AF10, 20%) !default;
$state-success-bg:              lighten(#94C93C, 20%) !default;
$state-success-border:          $state-success-text;

// $brand-primary:                 $green;
$card-cap-bg:                   $green;
$card-border-color:             #94C93C;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 721px,
  xl: 722px
) !default;

@import "bootstrap/bootstrap";

.card-header {
  color: #FFF;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.logo {
  color: $black !important;
  text-decoration: none !important;
  margin: 1em 0;
  letter-spacing: 0.25em;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 2rem;

  &.logo-large {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, 'md') ) {
  h1.logo {
    font-size: 2.5rem;
  }
}

.logo a {
  color: $black !important;
  text-decoration: none !important;
}

.logo small {
  text-decoration: none !important;
  font-variant: small-caps;
  font-size: 60%;
  letter-spacing: 0.3em;
}
.logo img {
  height: 2em;
  display: inline-block;
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: #999;
  margin-top: 2em;
  margin-bottom: 2em;

  a {
    color: #999;
  }
}

.card .card-block .extra-images {
  text-align: center;
  img.extra {
    width: 45%;
    display: inline;
    padding: 2%;
  }
}

a.wolf, span.wolf, a.arend, span.arend {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}
a.wolf, span.wolf {
  border-bottom: 2px solid #74AF10;
}
a.arend, span.arend {
  border-bottom: 2px solid #FFD500;
}
