---
---
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">

  <head>
    <meta charset="utf-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }}</title>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="description" content="{{ page.description }}">
    <meta itemprop="image" content="{{ page.image | absolute_url }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="{{ page.image | absolute_url }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ page.url | absolute_url  | remove: '.html' }}" />
    <meta property="og:image" content="{{ page.image | absolute_url }}" />
    <meta property="og:description" content="{{ page.description }}" />

    <link rel="stylesheet" href="/assets/main.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/assets/bootstrap.min.js" charset="utf-8"></script>
  </head>

  <body>
    {{ content }}
    {% include analytics.html %}
    <script type="text/javascript">
      jQuery(document).ready(function() {
        /*
        * Replace all SVG images with inline SVG
        */
        jQuery('img.svg').each(function(){
          var $img = jQuery(this);
          var imgID = $img.attr('id');
          var imgClass = $img.attr('class');
          var imgURL = $img.attr('src');

          jQuery.get(imgURL, function(data) {
              // Get the SVG tag, ignore the rest
              var $svg = jQuery(data).find('svg');

              // Add replaced image's ID to the new SVG
              if(typeof imgID !== 'undefined') {
                  $svg = $svg.attr('id', imgID);
              }
              // Add replaced image's classes to the new SVG
              if(typeof imgClass !== 'undefined') {
                  $svg = $svg.attr('class', imgClass+' replaced-svg');
              }

              // Remove any invalid XML tags as per http://validator.w3.org
              $svg = $svg.removeAttr('xmlns:a');

              // Check if the viewport is set, if the viewport is not set the SVG wont't scale.
              if(!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
                  $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
              }

              // Replace image with new SVG
              $img.replaceWith($svg);

          }, 'xml');
        });
      })
    </script>
  </body>
</html>
