---
---
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">

  <head>
    <meta charset="utf-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ site.title }}</title>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ site.title }}">
    <meta itemprop="description" content="{{ site.description }}">
    <meta itemprop="image" content="{{ site.image }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="{{ site.image }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ site.image }}" />
    <meta property="og:description" content="{{ site.description }}" />

    <link rel="stylesheet" href="/assets/main.css">

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/assets/bootstrap.min.js" charset="utf-8"></script>
  </head>

  <body>
    {{ content }}
    {% include analytics.html %}
  </body>
</html>
